<!-- -->
<launch>

  <arg name="method_type" default="0" /> <!-- pcl_generic=0, pcl_anh=1, pcl_anh_gpu=2, pcl_openmp=3 -->
  <arg name="config_time_threshold" default="0.4" />
  <!-- preprocess -->
  <arg name="scan_calibration_angle" default="0.0" />
  <arg name="min_scan_range" default="5.0" />
  <arg name="max_scan_range" default="60.0" />
  <arg name="voxel_leaf_size" default="1.0" />
  <!-- ndt -->
  <arg name="ndt_step_size" default="0.1" />
  <arg name="ndt_resolution" default="1" />
  <arg name="ndt_trans_epsilon" default="0.01" />
  <arg name="ndt_maxiterations" default="30" />
  <arg name="min_add_scan_shift" default="1" />

  <!-- ceres-optimizer -->
  <arg name="optimize_num_every_scans" default="1" />
  <arg name="optimize_iter_num" default="60" />
  <arg name="optimize_var_anchor" default="0.9" />
  <arg name="optimize_var_odom_t" default="0.1" />
  <arg name="optimize_var_odom_q" default="0.2" />

  <!-- mapping -->
  <arg name="map_init_pos_file" default="/autoware/workspace/data/map/hengtong_1115_map_init_test.txt" />
  <arg name="map_voxel_filter_size" default="0.2" />
  <arg name="keyframe_delta_trans" default="0.5" />
  <arg name="map_cloud_update_interval" default="5" />
  
  <!-- rosrun lidar_localizer ceres_ndt_mapping  -->
  <!-- <node pkg="lidar_localizer" type="queue_counter" name="queue_counter" output="screen"/> -->
  <!-- nmea2tfpose -->
  <include file="$(find gnss_localizer)/launch/nmea2tfpose.launch"/>
  <node pkg="lidar_localizer" type="ceres_ndt_mapping" name="ceres_ndt_mapping" output="screen">
    <!-- time_threshold -->
    <param name="config_time_threshold" value="$(arg config_time_threshold)" />

    <!-- preprocess -->
    <param name="scan_calibration_angle" value="$(arg scan_calibration_angle)" />
    <param name="min_scan_range" value="$(arg min_scan_range)" />
    <param name="max_scan_range" value="$(arg max_scan_range)" />
    <param name="voxel_leaf_size" value="$(arg voxel_leaf_size)" />
    <!-- ndt-config -->
    <param name="ndt_step_size" value="$(arg ndt_step_size)" />
    <param name="ndt_resolution" value="$(arg ndt_resolution)" />
    <param name="ndt_trans_epsilon" value="$(arg ndt_trans_epsilon)" />
    <param name="ndt_maxiterations" value="$(arg ndt_maxiterations)" />
    
    <param name="min_add_scan_shift" value="$(arg min_add_scan_shift)" />

    <!-- back_end optimizer params -->
    <param name="optimize_num_every_scans" value="$(arg optimize_num_every_scans)" />
    <param name="optimize_iter_num" value="$(arg optimize_iter_num)" />
    <param name="optimize_var_anchor" value="$(arg optimize_var_anchor)" />
    <param name="optimize_var_odom_t" value="$(arg optimize_var_odom_t)" />
    <param name="optimize_var_odom_q" value="$(arg optimize_var_odom_q)" />
    <!-- mapping -->
    <param name="map_init_pos_file" value="$(arg map_init_pos_file)" />
    <param name="map_voxel_filter_size" value="$(arg map_voxel_filter_size)" />
    <param name="keyframe_delta_trans" value="$(arg keyframe_delta_trans)" />
    <param name="map_cloud_update_interval" value="$(arg map_cloud_update_interval)" />
  </node>

</launch>
